html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

a:hover {
	COLOR: white;
	TEXT-DECORATION: none;
	font-weight: none;
}

h1,h2,h3,h4,h5 {
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
}
/* HEADER */
.topheader {
  height: 150px;
  font-size: 22;
  font-weight: 800;
  background: #3791ff;
}
.headimg {
  padding: 0px;
  margin: 0px;
  width: 100%;
  background: #3791ff;
}
.headjoin {
  background: #3791ff;
  margin-left: 0px;
}
/* NAVBAR */
.navbar {
  background-color: #D4CFE2;
  height: 129px;
  font-size: 22;
  font-weight: 800;
}

.button {
  weight: 184px;
  height: 51px;
  color: #FFE16B;
}
.donate {
}

/* TWO COLUMN SECTION */
.first {
  background-color: #3791ff;
  padding-left: 0px;
  height: 822px;
  width: 50%;
  color: #ffffff;
}
.title {
  font-size: 43;
  font-weight: 800;
  padding-left: 13%;
  padding-top: 8%;
}
.whitetxt {
  font-size: 25;
  padding-left: 13%;
  padding-right: 13%;
  line-height: 1.5;
  font-weight: 600;
}
.
.second {
  background-color: #ffffff;
  height: 822px;
  width: 50%;
  padding-left: 13%;
  padding-right: 13%;
  margin-top: 25%;
  padding-bottom: 25%
}

.blacktxt {
    font-size: 30;
    padding-left: 13%;
    padding-right: 13%;
    line-height: 1.5;
    font-weight:800;
    ;
  }
.blacktxt1 {
      font-size: 30;
      padding-top: 17%;
      padding-left: 13%;
      padding-right: 13%;
      font-weight: 800;
    }
/* READMORE SECTION */
.readmore {
  height: 563px;
  /* background-image: url("paper.gif"); */
  background-color: #F4F4F4;
}

.remotxt {
  font-size: 30;
  padding-top: 5%;
  padding-left:50%;
  padding-right:17%;
  font-weight: 800;

}

.btnremo {
  margin-right: 17%;
  margin-top: 5%;
}

/* FEMINOTEKA SECTION */

.femino {
  height: 681px;
  background-color: #3791ff;
}

.femtitle {
  font-size: 43;
  font-weight: 800;
  padding-left: 13%;
  padding-top: 11%;
  color: #ffffff;
}

.femtxt {
  font-size: 25;
  padding-left: 13%;
  padding-right:2%;
  font-weight: bolder;
  color: #ffffff;
  line-height: 2;
}

.fempic {
  padding-top: 20%;
  padding-bottom: 20%;
  height: 100%;
}

.btnfemi {
  margin-left: 13%;
  margin-top: 2%;
}

/* PETITION */

.petition {
  background-color: #F4F4F4;
  height: 1882px;
	padding-top: 10%;
	padding-bottom: 5%;
	padding-left: 24%;
	padding-right: 24%;
}

.petfield {
	background-color: #ffffff;
	width: 1054px;
	height: 1500px;
}

.petitle {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.petext {
	font-size: 28px;
	padding-left: 5%;
	padding-right: 5%;
}

.pelist {
	margin-left: 5%;
	margin-right: 5%;
}

.petbutton {
	margin-left: 34%;
	margin-right: 34%;
	margin-top: 5%;
	width: 300px;
	background-color: #000000;
	border: none;
	color: #FFE16B;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	border-radius: 3%;
}
/* SHARE SECTION */
.share {
	height: 581px;
}

.shtitle {
	  font-size: 72px;
	  font-weight: 800;
	  text-align: center;
		padding-top: 5%;
		padding-bottom: 5%;
}

.shbutton {
		margin-left: 55%;
		padding-left: 5%;
}

.shtext {
	font-size: 48px;
	font-weight: 800;
	text-align: left;
	padding-left: 5%;
	padding-right: 45%;
	margin-top: -4%;
}

/* SUPPORT SECTION */
.support {
	height: 720px;
	background-image: url('assets/footer.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.suptitle {
	font-size: 64px;
	font-weight: 800;
	text-align: center;
	padding-top: 8%;
	color: #ffffff;
}
.suptext {
	font-size: 36px;
	font-weight: 800;
	padding-top: 2%;
	padding-bottom: 3%;
	color: #ffffff;
	padding-left: 16%;
	padding-right: 16%;
}

.buttonsup {
	background-color: #FE4141;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 36px;
	font-weight: 600;
	margin-left: 45%;
	margin-right: 45%;
	border-radius: 3%;
}
/* FOOTER */
footer {
	height: 219px;
	padding-top: 3%;
}
.footext {
	font-size: 20px;
	font-weight:800;
	color: black;
}

.askpic{
	width: 153px;
	margin-top: -3%;

}

.footext2 {
	font-size: 21px;
	font-weight:bold;
	color: black;
	text-align: left;
	margin-left: -25%;
	margin-top: -1%;
}

.onepic {
	width: 131px;
}

.numbers {
	font-size: 24px;
	font-weight: bold;
	color: black;
	text-align: center;
}

.footext3 {
	font-size: 21px;
	font-weight:bold;
	color: black;
	text-align: center;
}
