html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

a:hover {
	COLOR: white;
	TEXT-DECORATION: none;
	font-weight: none;
}

h1,h2,h3,h4,h5 {
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
}
/* HEADER */
.topheader {
  height: 150px;
  font-size: 22;
  font-weight: 800;
  background: #3791ff;
}
.headimg {
  padding: 0px;
  margin: 0px;
  width: 100%;
  background: #3791ff;
}
.headjoin {
  background: #3791ff;
  margin-left: 0px;
}
/* NAVBAR */
.navbar {
  background-color: #D4CFE2;
  height: 129px;
  font-size: 22;
  font-weight: 800;
}

.button {
  weight: 184px;
  height: 51px;
  color: #FFE16B;
}
.donate {
}

/* TWO COLUMN SECTION */
.first {
  background-color: #3791ff;
  padding-left: 0px;
  height: 822px;
  width: 50%;
  color: #ffffff;
}
.title {
  font-size: 43;
  font-weight: 800;
  padding-left: 13%;
  padding-top: 8%;
}
.whitetxt {
  font-size: 25;
  padding-left: 13%;
  padding-right: 13%;
  line-height: 1.5;
  font-weight: 600;
}
.
.second {
  background-color: #ffffff;
  height: 822px;
  width: 50%;
  padding-left: 13%;
  padding-right: 13%;
  margin-top: 25%;
  padding-bottom: 25%
}

.blacktxt {
    font-size: 30;
    padding-left: 13%;
    padding-right: 13%;
    line-height: 1.5;
    font-weight:800;
    ;
  }
.blacktxt1 {
      font-size: 30;
      padding-top: 17%;
      padding-left: 13%;
      padding-right: 13%;
      font-weight: 800;
    }
/* READMORE SECTION */
.readmore {
  height: 563px;
  /* background-image: url("paper.gif"); */
  background-color: #F4F4F4;
}

.remotxt {
  font-size: 30;
  padding-top: 5%;
  padding-left:50%;
  padding-right:17%;
  font-weight: 800;

}

.btnremo {
  margin-right: 17%;
  margin-top: 5%;
}

/* FEMINOTEKA SECTION */

.femino {
  height: 681px;
  background-color: #3791ff;
}

.femtitle {
  font-size: 43;
  font-weight: 800;
  padding-left: 13%;
  padding-top: 11%;
  color: #ffffff;
}

.femtxt {
  font-size: 25;
  padding-left: 13%;
  padding-right:2%;
  font-weight: bolder;
  color: #ffffff;
  line-height: 2;
}

.fempic {
  padding-top: 20%;
  padding-bottom: 20%;
  height: 100%;
}

.btnfemi {
  margin-left: 13%;
  margin-top: 2%;
}
